.dashboard-container {
    padding: 40px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--accent-color);
    display: inline-block;
    padding-bottom: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid var(--accent-color);
}

img[mat-card-image] {
    height: 250px;
    object-fit: cover;
}

mat-card-title {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-weight: bold;
}

mat-card-subtitle {
    color: #bf8d2c !important;
    /* Darker Gold */
    font-weight: bold;
    font-size: 1.1rem;
}